// Add your own CSS here!

:root {
  --light: #faf8f8;
  --dark: #141021;
  --secondary: #141021;
  --tertiary: #898790;
  --visited: #141021;
  --primary: #141021;
  --gray: #141021;
  --lightgray: #f0f0f0;
  --outlinegray: #dadada;
  --million-progress-bar-color: var(--secondary);
}

[saved-theme="dark"] {
  --light: #0a0a0a !important;
  --dark: #fbfffe !important;
  --secondary: #fbfffe !important;
  --visited: #fbfffe !important;
  --tertiary: #838584 !important;
  --primary: #fbfffe !important;
  --gray: #fbfffe !important;
  --lightgray: #292633 !important;
  --outlinegray: #343434 !important;
}



